<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(#{writeOff.writeOff})"></head>

<body>
<div th:replace="fragments/menu :: godMenu"></div>

<div class="container">
    <form method="post" th:object="${warehouseDto}" th:action="@{${#httpServletRequest.requestURI}}">
        <h1 th:text="${warehouseDto.productName}"></h1>
        <h2 th:text="#{writeOff.inStock}+' '+${warehouseDto.amount} + 'kg'"></h2>
        <div th:replace="fragments/input :: input(#{warehouse.amount},'writeOff')"></div>
        <div style="display:none">
            <div th:replace="fragments/input :: input(#{warehouse.amount},'productName')"></div>
            <div th:replace="fragments/input :: input(#{warehouse.amount},'invoice')"></div>
            <div th:replace="fragments/input :: input(#{warehouse.amount},'amount')"></div>
        </div>


        <button type="submit" th:text="#{writeOff.writeOff}" class="btn btn-danger"></button>
    </form>

</div>

</body>
</html>