<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(#{recipe.all.title})"></head>

<body>
<div th:replace="fragments/menu :: godMenu"></div>

<h1 th:text="#{recipe.all.title}"></h1>

<div class="container">
    <a class="btn btn-success" th:href="@{'/recipes/recipeForm'}" role="button" th:text="#{recipe.add.new.recipe}"></a>
</div>

<div th:if="${recipeListPages.hasContent()}" class="container">
    <span th:text="#{products.all.elements} +' ' +${recipeListPages.totalElements}"></span><br>
    <span th:text="#{products.all.pages} +' ' +${recipeListPages.totalPages}"></span><br>

    <!--    PAGINATION-->
    <div th:replace="fragments/pagination :: pagination(object=${recipeListPages}, link=@{/recipes})"></div>

    <!--   TABLE HEADER-->
    <table class="table table-primary">
        <thead>
        <tr>
            <th scope="col"><a th:replace="
            fragments/table :: sortedColumnProducts(data=${recipeListPages},
             name='name',
              path=@{/recipes},
               sortUp='fa-arrow-up-z-a',
                sortDown='fa-arrow-down-a-z',
                 fieldName=#{recipe.recipes.word})"></a></th>
            <th></th>
        </tr>
        <!--   TABLE CONTENT-->
        </thead>
        <tbody>
        <tr th:each="recipe: ${recipeListPages}">
            <td><a th:href="@{/recipes/{uuid}/update(uuid=${recipe.uuid})}" th:text="${recipe.recipeName}"></a></td>
            <td><a class="btn btn-danger" th:href="@{/recipes/{uuid}/delete(uuid=${recipe.uuid})}"
                   th:text="#{delete}"></a></td>
        </tr>
        </tbody>
    </table>

    <!--PAGINATION-->
    <div th:replace="fragments/pagination :: pagination(object=${recipeListPages}, link=@{/recipes})"></div>

</div>
</body>
</html>