<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(#{recipe.add.new.recipe})"></head>

<body>
<div th:replace="fragments/menu :: godMenu"></div>
<h1 th:text="#{recipe.add.new.recipe}"></h1>

<form method="post" th:object="${recipeDto}">

    <label for="name" th:text="#{recipe.name}"></label><br/>
    <input id="name" type="text" th:field="*{recipeName}"><br/><br/>

    <label th:for="*{recipeText}" th:text="#{recipe.recipeText}"></label><br/>
    <input th:id="*{recipeText}" type="text" th:field="*{recipeText}"><br/><br/>

    <label th:for="*{products}" th:text="#{recipe.products}"></label><br/>
    <input th:id="*{products}" type="text" th:field="*{products}"><br/><br/>


    <div th:text="${message}"></div>
    <button type="submit" th:text="#{save}"></button>
</form>

</body>
</html>