<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(#{recipe.add.new.recipe})"></head>

<body>
<div th:replace="fragments/menu :: godMenu"></div>
<h1 th:if="${recipeDto.uuid eq null}" th:text="#{recipe.form.new.recipe}"></h1>
<h1 th:if="${recipeDto.uuid ne null}" th:text="#{recipe.form.edit.recipe}"></h1>

<div class="container">

    <div class="d-flex flex-row bd-highlight mb-3">
        <span class="border border-primary materialsCalculated"
              th:text="#{recipe.all.protein}+' ' + ${recipeDto.allProteins()} +' '"></span>
        <span class="border border-primary materialsCalculated"
              th:text="#{recipe.all.fat}+' ' +${recipeDto.allFat()} +  ' '"></span>
        <span class="border border-primary materialsCalculated"
              th:text="#{recipe.all.carbohydrates}+' ' +${recipeDto.allCarbohydrates()} + ' '"></span>
        <span class="border border-primary materialsCalculated"
              th:text="#{recipe.all.energyValueKcal}+' ' +${recipeDto.allEnergyValueKcal()} + ' '"></span>
    </div>

    <!--FLASH REDIRECT-->
    <!--    SESSION ATTRIBUTES-->

    <a class="btn btn-primary"
       th:if="${recipeDto.uuid eq null}"
       th:href="@{/recipes/addProduct}"
       th:text="#{add.product.title}"></a>

    <a class="btn btn-primary"
       th:if="${recipeDto.uuid ne null}"
       th:href="@{/recipes/{uuid}/addProduct(uuid=${recipeDto.uuid})}"
       th:text="#{add.product.title}"></a>

    <form method="post" th:object="${recipeDto}">
        <div th:replace="fragments/input :: input(#{recipe.name},'recipeName')"></div>
        <div th:replace="fragments/input :: input(#{recipe.recipeText},'recipeText')"></div>

        <ul class="list-group" th:each="products : ${recipeDto.productsList}">
            <li class="list-group-item">
                <span th:text=" ${products.quantity} + 'g ' + ${products.product.name}"></span>
                <a class="btn btn-danger"
                   th:if="${recipeDto.uuid eq null}"
                   th:href="@{/recipes/{uuid}/deleteProduct(uuid=${products.productUUID})}"
                   th:text="#{remove}">
                </a>
                <a class="btn btn-danger"
                   th:if="${recipeDto.uuid ne null}"
                   th:href="@{/recipes/{uuid1}/{uuid}/deleteProduct(uuid=${products.productUUID},uuid1=${recipeDto.uuid})}"
                   th:text="#{remove}">
                </a>
            </li>
        </ul>

        <div th:text="${message}"></div>
        <button type="submit" th:text="#{save}" class="btn btn-primary"></button>
    </form>

</div>

</body>
</html>