<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(#{recipe.add.new.recipe})"></head>

<body>
<div th:replace="fragments/menu :: godMenu"></div>
<h1 th:text="#{recipe.add.new.recipe}"></h1>

<div class="container">

    <div class="d-flex flex-row bd-highlight mb-3">
        <span class="border border-primary materialsCalculated"
              th:text="#{recipe.all.protein}+' ' + ${recipeDto.allProteins()} +' '"></span>
        <span class="border border-primary materialsCalculated"
              th:text="#{recipe.all.fat}+' ' +${recipeDto.allFat()} +  ' '"></span>
        <span class="border border-primary materialsCalculated"
              th:text="#{recipe.all.carbohydrates}+' ' +${recipeDto.allCarbohydrates()} + ' '"></span>
        <span class="border border-primary materialsCalculated"
              th:text="#{recipe.all.energyValueKcal}+' ' +${recipeDto.allEnergyValueKcal()} + ' '"></span>
    </div>

<!--FLASH REDIRECT-->
<!--    SESSION ATTRIBUTES-->

        <a class="btn btn-primary" th:href="@{/recipes/addProduct}" th:text="#{add.product.title}"></a>

    <form method="post" th:object="${recipeDto}">
        <div th:replace="fragments/input :: input(#{recipe.name},'recipeName')"></div>
        <div th:replace="fragments/input :: input(#{recipe.recipeText},'recipeText')"></div>

        <ul class="list-group">
            <li class="list-group-item"
                th:each="products : ${recipeDto.productsList}"
                th:text=" ${products.quantity} + 'g ' + ${products.product.name}"
                ></li>
        </ul>

        <div th:text="${message}"></div>
        <button type="submit" th:text="#{save}" class="btn btn-primary"></button>
    </form>

</div>

</body>
</html>