<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(#{product.form.title})"></head>

<body>
<div th:replace="fragments/menu :: godMenu"></div>

<div th:if="${productDto.name eq null}"><h1 th:text="#{add.product.word}"></h1></div>
<div th:if="${productDto.name ne null}"><h1 th:text="#{edit.product.word}"></h1></div>

<div class="container">
    <div th:text="${message}"></div>
    <form method="post" th:object="${productDto}" th:action="@{${#httpServletRequest.requestURI}}">
        <input type="hidden" th:field="*{uuid}">

        <!--    MAIN-->
        <div th:replace="fragments/input :: input(#{product.name.word},'name')"></div>
        <div th:replace="fragments/input :: input(#{energy.kj},'energyKj')"></div>
        <div th:replace="fragments/input :: input(#{energy.value.kcal},'energyValueKcal')"></div>
        <div th:replace="fragments/input :: input(#{proteins},'proteins')"></div>
        <div th:replace="fragments/input :: input(#{carbohydrates},'carbohydrates')"></div>
        <div th:replace="fragments/input :: input(#{fat},'fat')"></div>
        <div th:replace="fragments/input :: input(#{sugar},'sugar')"></div>
        <div th:replace="fragments/input :: input(#{vegetable.protein},'vegetableProtein')"></div>
        <div th:replace="fragments/input :: input(#{animal.protein},'animalProtein')"></div>

        <!--    MINERALS-->
        <div th:replace="fragments/input :: input(#{mineral.substances},'mineralSubstances')"></div>
        <div th:replace="fragments/input :: input(#{sodium},'sodium')"></div>
        <div th:replace="fragments/input :: input(#{magnesium},'magnesium')"></div>
        <div th:replace="fragments/input :: input(#{phosphorus},'phosphorus')"></div>
        <div th:replace="fragments/input :: input(#{potassium},'potassium')"></div>
        <div th:replace="fragments/input :: input(#{calcium},'calcium')"></div>
        <div th:replace="fragments/input :: input(#{iodine},'iodine')"></div>
        <div th:replace="fragments/input :: input(#{iron},'iron')"></div>
        <div th:replace="fragments/input :: input(#{zinc},'zinc')"></div>
        <div th:replace="fragments/input :: input(#{selenium},'selenium')"></div>

        <!--    VITAMINS-->
        <div th:replace="fragments/input :: input(#{vitamin.b2},'vitaminB2')"></div>
        <div th:replace="fragments/input :: input(#{niacin.vitamin.p.p},'niacinVitaminPP')"></div>
        <div th:replace="fragments/input :: input(#{niacin.equivalent},'niacinEquivalent')"></div>
        <div th:replace="fragments/input :: input(#{vitamin.b6},'vitaminB6')"></div>
        <div th:replace="fragments/input :: input(#{vitamin.b1},'vitaminB1')"></div>
        <div th:replace="fragments/input :: input(#{vitamin.a.retinol},'vitaminARetinol')"></div>
        <div th:replace="fragments/input :: input(#{vitamin.e.tocopherol},'vitaminETocopherol')"></div>
        <div th:replace="fragments/input :: input(#{vitamin.c},'vitaminC')"></div>
        <div th:replace="fragments/input :: input(#{vitamin.d},'vitaminD')"></div>
        <div th:replace="fragments/input :: input(#{vitamin.b12},'vitaminB12')"></div>

        <!--    ACIDS-->
        <div th:replace="fragments/input :: input(#{folic.acid},'folicAcid')"></div>
        <div th:replace="fragments/input :: input(#{polyunsaturated.fatty.acids},'polyunsaturatedFattyAcids')"></div>
        <div th:replace="fragments/input :: input(#{saturated.fatty.acids},'saturatedFattyAcids')"></div>
        <div th:replace="fragments/input :: input(#{monounsaturated.fatty.acids},'monounsaturatedFattyAcids')"></div>

        <!--    OTHERS-->
        <div th:replace="fragments/input :: input(#{starch},'starch')"></div>
        <div th:replace="fragments/input :: input(#{water},'water')"></div>
        <div th:replace="fragments/input :: input(#{dry.material},'dryMaterial')"></div>
        <div th:replace="fragments/input :: input(#{alcohol},'alcohol')"></div>
        <div th:replace="fragments/input :: input(#{fiber.materials},'fiberMaterials')"></div>
        <div th:replace="fragments/input :: input(#{cholesterol},'cholesterol')"></div>

        <button type="submit" th:text="#{save}" class="btn btn-primary"></button>
    </form>
</div>
</body>
</html>