<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(#{edit.day.title})"></head>

<body>
<div th:replace="fragments/menu :: godMenu"></div>

<h1 th:text="#{edit.day.title}+' '+ ${menuDay.dayNumber}"></h1>

<div class="container">
    <form name="add" method="post" th:action="@{${#httpServletRequest.requestURI}}">
        <select class="form-select" name="recipeUUID" th:if="${!recipesList.isEmpty()}">
            <option id="selection" th:each="recipe: ${recipesList}"
                    th:value="${recipe.uuid}"
                    th:text="${recipe.recipeName}"></option>
        </select>
        <button type="submit" th:text="#{save}" class="btn btn-primary"></button>
    </form>

    <table class="table table-primary">
        <thead>
        <tr>
            <th scope="col" class="tableColumnAuto" th:text="#{menu.recipes}"></th>
            <th scope="col" class="tableColumn12percent" th:text="#{recipe.all.energyValueKcal}"></th>
            <th scope="col" class="tableColumn13percent"></th>
        </tr>
        <!--   TABLE CONTENT-->
        </thead>
        <tbody>
        <tr th:each="recipes: ${menuDay.dayRecipesDto}">
            <td th:text="${recipes.recipeName}"></td>
            <td th:text="${recipes.allEnergyValueKcal}"></td>
            <td><a class="btn btn-danger" th:href="@{/food-menu/{id}/{uuid}/removeRecipe(id=${menuDay.id},uuid=${recipes.uuid})}"
                   th:text="#{delete}"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>