<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(#{menu.food.menu})"></head>

<body>
<div th:replace="fragments/menu :: godMenu"></div>

<h1 th:text="#{menu.food.menu}"></h1>

<table class="table table-primary">
    <thead>
    <tr>
        <th scope="col" class="tableColumnAuto" th:text="#{menu.day}"></th>
        <th scope="col" class="tableColumn12percent" th:text="#{recipe.all.energyValueKcal}"></th>
        <th scope="col" class="tableColumn13percent"></th>
    </tr>
    <!--   TABLE CONTENT-->
    </thead>
    <tbody>
    <tr th:each="menuDay: ${menu.daysList}">
        <td th:text="${menuDay.dayNumber} + ' ' + #{menu.day}"></td>
        <td th:text="${menuDay.dayEnergyValue}"></td>
        <td><a class="btn btn-warning" th:href="@{/food-menu/{id}/update(id=${menuDay.id})}"
               th:text="#{edit}"></a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>