<div th:fragment="godMenu">
    <a th:href="@{#}" th:text="#{menu.food.menu}"></a>
    <a th:href="@{#}" th:text="#{menu.recipes}"></a>
    <a th:href="@{'/product/list'}" th:text="#{menu.products.word}"></a>
    <a th:href="@{#}" th:text="#{menu.warehouse}"></a>
    <a th:href="@{#}" th:text="#{menu.today.recipes}"></a>
    <a th:href="@{#}" th:text="#{menu.statistics}"></a>
    <a th:href="@{#}" th:text="#{menu.history}"></a>
    <a th:href="@{/}" th:text="#{menu.log.off}"></a>
    <select id="languageSelector">
        <option value="" th:text="#{lang.option}"></option>
        <option value="LT" th:text="Lietuvių"></option>
        <option value="US" th:text="English"></option>
    </select>
</div>