<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"

>

<div th:fragment="godMenu">
    <a sec:authorize="hasAnyRole('DIETIST')" th:href="@{'/food-menu'}" th:text="#{menu.food.menu}"></a>
    <a sec:authorize="hasAnyRole('DIETIST')" th:href="@{'/recipes'}" th:text="#{menu.recipes}"></a>
    <a sec:authorize="hasAnyRole('DIETIST')" th:href="@{'/products'}" th:text="#{menu.products.word}"></a>
    <a th:href="@{'/warehouse'}" th:text="#{menu.warehouse}"></a>
    <a th:href="@{#}" th:text="#{menu.today.recipes}"></a>
    <a sec:authorize="hasAnyRole('DIETIST')" th:href="@{#}" th:text="#{menu.statistics}"></a>
    <a th:href="@{#}" th:text="#{menu.history}"></a>
    <a th:href="@{/logout}" th:text="#{menu.log.off}"></a>
    <select id="languageSelector" class="form-select language">
        <option value="" th:text="#{lang.option}"></option>
        <option value="LT" th:text="Lietuvių"></option>
        <option value="US" th:text="English"></option>
    </select>
</div>
</html>