<div th:fragment="paginationProducts">
    <nav class="d-flex justify-content-center">
        <ul class="pagination"
            th:with="
            orderParam=${productListPages.sort.iterator().hasNext() ? productListPages.sort.iterator().next : null},
            sortParam=${orderParam.property + ','+ orderParam.direction + ',ignorecase'}">

            <li class="page-item"
                th:classappend="${!productListPages.hasPrevious()} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/products(page=${productListPages.number} - 1,sort=${sortParam})}"
                   th:text="#{previous}"></a>
            </li>


            <li class="page-item"
                th:each="i: ${#numbers.sequence(0, productListPages.totalPages - 1)}"
                th:classappend="${i == productListPages.number ? 'active' : ''}">
                <a class="page-link"
                   th:href="@{/products(page = ${i},sort=${sortParam})}"
                   th:text="${i + 1}"></a>
            </li>

            <li class="page-item"
                th:classappend="${!productListPages.hasNext()} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/products(page=${productListPages.number} + 1,sort=${sortParam})}"
                   th:text="#{next}"></a>
            </li>
        </ul>
    </nav>
</div>