<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="pagination(object, link)">
    <nav class="d-flex justify-content-center">
        <ul class="pagination"
            th:with="
            orderParam=${object.sort.iterator().hasNext() ? object.sort.iterator().next : null},
            sortParam=${orderParam.property + ','+ orderParam.direction + ',ignorecase'}">
            <li class="page-item"
                th:classappend="${!object.hasPrevious()} ? 'disabled'">
                <a class="page-link"
                   th:href="@{*{link}(page=${object.number} - 1,sort=${sortParam})}"
                   th:text="#{previous}"></a>
            </li>


            <li class="page-item"
                th:each="i: ${#numbers.sequence(0, object.totalPages - 1)}"
                th:classappend="${i == object.number ? 'active' : ''}">
                <a class="page-link"
                   th:href="@{*{link}(page = ${i},sort=${sortParam})}"
                   th:text="${i + 1}"></a>
            </li>

            <li class="page-item"
                th:classappend="${!object.hasNext()} ? 'disabled'">
                <a class="page-link"
                   th:href="@{*{link}(page=${object.number} + 1,sort=${sortParam})}"
                   th:text="#{next}"></a>
            </li>
        </ul>
    </nav>
</div>
</html>