<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<a th:fragment="sortedColumnProducts(data, name, path, sortUp, sortDown, fieldName)"
   th:with="direction=${data.sort.getOrderFor(name)?.direction}"
   th:href="@{*{path}(sort=*{name} + ',' + ${direction?.name() eq 'ASC' ? 'DESC' : 'ASC'} + ',ignorecase' )}">

    <span th:text="*{fieldName}"></span>

    <i class="fa-solid"
       th:classappend="${direction?.name() eq 'ASC' ? sortDown: sortUp}"
       th:if="${direction ne null}"></i>
</a>

</html>