.hasError {
    border-color: red;
    color: red;
}

.messageSuccess{
    color: #08f808;
}
.materialsCalculated{
   padding: 10px;
}
.tableColumn12percent{
    width: 12%;
}
.tableColumn13percent{
    width: 13%;
}
.tableColumnAuto{
    width: auto;
}
.loginClass{
    padding-top: 80px;
    padding-right: 400px;
    padding-left: 400px;
}
.language{
    margin-right: 10px;
    margin-left: auto;
    width: 150px;
}