<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(#{login.title})">

</head>
<body>
<h1 th:text="#{login.common.kindergarten.feeding.system}"></h1><br>
<select id="languageSelector">
    <option value="" th:text="#{lang.option}"></option>
    <option value="LT" th:text="Lietuvių"></option>
    <option value="US" th:text="English"></option>
</select>
<h3 th:text="#{login.please.login}"></h3>

<form method="post" th:object="${client}">
    <label th:text="#{login.user.name}"></label><br/>
    <input type="text" placeholder="User name" th:field="*{username}"><br/>

    <label th:text="#{login.password}"></label><br/>
    <input type="password" placeholder="Password" th:field="*{password}"><br/><br/>

    <button type="submit" th:text="#{login.login}"></button>
</form>

</body>
</html>