<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BDSM</title>
</head>
<body>
<h1>Bendra Darželių Sistema Maitinimui</h1><br>
<h3>Prisijunkite</h3>

<form method="post" th:object="${client}">
    <label>Vartotojo vardas:</label><br/>
    <input type="text" placeholder="User name" th:field="*{username}"><br/>

    <label>Slaptažodis:</label><br/>
    <input type="password" placeholder="Password" th:field="*{password}"><br/><br/>

    <button type="submit">Prisijungti</button>
</form>

</body>
</html>