<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <title>Produktu sarasas</title>
</head>
<body>
<div>
    <a th:href="@{#}">Valgiaraštis</a>
    <a th:href="@{#}">Receptai</a>
    <a th:href="@{'/product/list'}">Produktai</a>
    <a th:href="@{'/product/form'}">Prideti produkta</a>
    <a th:href="@{#}">Sandėlis</a>
    <a th:href="@{#}">Šiandienos receptai</a>
    <a th:href="@{#}">Statistika</a>
    <a th:href="@{#}">Istorija</a>
    <a th:href="@{/}">Atsijungti</a>
</div>
<div th:if="${not productListPages.hasContent()}">List is empty!</div>
<div th:if="${productListPages.hasContent()}" class="container">
    <span th:text="'is viso elementu: ' +${productListPages.totalElements}"></span><br>
    <span th:text="'is viso puslapiu: ' +${productListPages.totalPages}"></span><br>

    <!--PAGINATION-->
    <nav class="d-flex justify-content-center">
        <ul class="pagination">

            <li class="page-item"
                th:classappend="${!productListPages.hasPrevious()} ? 'disabled'">
                <a class="page-link" th:href="@{/product/list(page=${productListPages.number} - 1)}">Previous</a>
            </li>


            <li class="page-item"
                th:each="i: ${#numbers.sequence(0, productListPages.totalPages - 1)}"
                th:classappend="${i == productListPages.number ? 'active' : ''}">
                <a class="page-link" th:href="@{/product/list(page = ${i})}" th:text="${i + 1}"></a>
            </li>

            <li class="page-item"
                th:classappend="${!productListPages.hasNext()} ? 'disabled'">
                <a class="page-link" th:href="@{/product/list(page=${productListPages.number} + 1)}">Next</a>
            </li>
        </ul>
    </nav>
    <table class="table table-primary">
        <thead>
        <tr>
            <th>
                <a
                        th:with="direction=${productListPages.sort.getOrderFor('name')?.direction}"
                        th:href="@{/product/list(sort='name,' + ${direction?.name() eq 'ASC' ? 'DESC' : 'ASC'} )}">
                    Pavadinimas
                    <i
                            class="fa-solid"
                            th:classappend="${direction?.name() eq 'ASC' ? 'fa-arrow-down-a-z' : 'fa-arrow-up-z-a'}"
                            th:if="${direction ne null}">

                    </i>
                </a>
            </th>
            <th>
                <a
                        th:with="direction=${productListPages.sort.getOrderFor('proteins')?.direction}"
                        th:href="@{/product/list(sort='proteins,' + ${direction?.name() eq 'ASC' ? 'DESC' : 'ASC'} )}">
                    Baltymai
                    <i
                            class="fa-solid"
                            th:classappend="${direction?.name() eq 'ASC' ? 'fa-arrow-down-a-z' : 'fa-arrow-up-z-a'}"
                            th:if="${direction ne null}">

                    </i>
                </a>
            </th>
            <th>
                <a
                        th:with="direction=${productListPages.sort.getOrderFor('carbohydrates')?.direction}"
                        th:href="@{/product/list(sort='carbohydrates,' + ${direction?.name() eq 'ASC' ? 'DESC' : 'ASC'} )}">
                    Angliavandeniai
                    <i class="fa-solid"
                       th:classappend="${direction?.name() eq 'ASC' ? 'fa-arrow-down-1-9' : 'fa-arrow-up-9-1'}"
                       th:if="${direction ne null}">

                    </i>
                </a>
            </th>
            <th>
                <a
                        th:with="direction=${productListPages.sort.getOrderFor('fat')?.direction}"
                        th:href="@{/product/list(sort='fat,' + ${direction?.name() eq 'ASC' ? 'DESC' : 'ASC'} )}">
                    Riebalai
                    <i class="fa-solid"
                       th:classappend="${direction?.name() eq 'ASC' ? 'fa-arrow-down-1-9' : 'fa-arrow-up-9-1'}"
                       th:if="${direction ne null}">

                    </i>
                </a>
            </th>
            <th>
                <a
                        th:with="direction=${productListPages.sort.getOrderFor('energyValueKcal')?.direction}"
                        th:href="@{/product/list(sort='energyValueKcal,' + ${direction?.name() eq 'ASC' ? 'DESC' : 'ASC'} )}">
                    Kalorijios Kcal
                    <i class="fa-solid"
                       th:classappend="${direction?.name() eq 'ASC' ? 'fa-arrow-down-1-9' : 'fa-arrow-up-9-1'}"
                       th:if="${direction ne null}">

                    </i>
                </a>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${productListPages}">
            <td><a th:href="@{/product/{uuid}/update(uuid=${product.uuid})}" th:text="${product.name}"></a></td>
            <td th:text="${product.proteins}"></td>
            <td th:text="${product.carbohydrates}"></td>
            <td th:text="${product.fat}"></td>
            <td th:text="${product.energyValueKcal}"></td>
            <td><a class = "btn btn-danger" th:href="@{/product/{uuid}/delete(uuid=${product.uuid})}">delete</a></td>
        </tr>
        </tbody>
    </table>

    <!--PAGINATION-->

    <nav class="d-flex justify-content-center">
        <ul class="pagination">

            <li class="page-item"
                th:classappend="${!productListPages.hasPrevious()} ? 'disabled'">
                <a class="page-link" th:href="@{/product/list(page=${productListPages.number} - 1)}">Previous</a>
            </li>


            <li class="page-item"
                th:each="i: ${#numbers.sequence(0, productListPages.totalPages - 1)}"
                th:classappend="${i == productListPages.number ? 'active' : ''}">
                <a class="page-link" th:href="@{/product/list(page = ${i})}" th:text="${i + 1}"></a>
            </li>

            <li class="page-item"
                th:classappend="${!productListPages.hasNext()} ? 'disabled'">
                <a class="page-link" th:href="@{/product/list(page=${productListPages.number} + 1)}">Next</a>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>